.heading {
    background-color: #0a3f89;
    color: white;
}
.day-container {
    display: flex;
}

.btn {
    margin-top: 10px;

}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

.container-fluid{
    background-image: linear-gradient(to bottom right,  #cdcdcd, #aa6eb6, #ffffff);
    padding: 20px;
}
#current-forecast{
    background-color: rgb(48, 3, 113);
    padding: 25px;
}
body{
    font-family: 'Playfair Display', serif;
};
span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

@media (max-width: 767.98px) {
    .day-container {
        display:inline-block;
        flex: 1;
    }
}