.heading {
    background-color: rgb(167, 248, 241);
    color: black;
}
.day-container {
    display: flex;
}

.btn {
    margin-top: 10px;

}

.list-group-item{
    line-height: 0.5;
    border: none;
}
.card-body{
    flex:auto
}

span.severe{
    padding: 3px;
    background-color: red;
    color:white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color:white;
}

@media (max-width: 767.98px) {
    .day-container {
        display:inline-block;
        flex: 1;
    }
}